<a href="https://colab.research.google.com/github/MOOwuttichai/project_dataWDkku/blob/main/Copy_of_clean_%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B8%A7%E0%B8%B1%E0%B8%99%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B9%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [263]:
# prompt: เชื่อม Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [264]:
import numpy as np
import pandas as pd

In [265]:
# prompt: ช่วยเรียกไฟล์ excel ใน Google Drive โดยให้เริ่ม Row ที่ 2
# Specify the path to your Excel file in Google Drive
file_path_SC01 = '/content/drive/MyDrive/ข้อมูลงานวันวิทย์/SC01.xlsx'
file_path_SC02 = '/content/drive/MyDrive/ข้อมูลงานวันวิทย์/SC02.xlsx'
file_path_SC03 = '/content/drive/MyDrive/ข้อมูลงานวันวิทย์/SC03.xlsx'
file_path_SC04 = '/content/drive/MyDrive/ข้อมูลงานวันวิทย์/SC04 .xlsx'
file_path_SC05 = '/content/drive/MyDrive/ข้อมูลงานวันวิทย์/SC05.xlsx'
file_path_SC06 = '/content/drive/MyDrive/ข้อมูลงานวันวิทย์/SC06.xlsx'
file_path_SC07 = '/content/drive/MyDrive/ข้อมูลงานวันวิทย์/SC07.xlsx'
file_path_SC08 = '/content/drive/MyDrive/ข้อมูลงานวันวิทย์/SC08.xlsx'
file_path_SC09 = '/content/drive/MyDrive/ข้อมูลงานวันวิทย์/SC09.xlsx'
file_path_SC10 = '/content/drive/MyDrive/ข้อมูลงานวันวิทย์/SC10.xlsx'
file_path_SC11 = '/content/drive/MyDrive/ข้อมูลงานวันวิทย์/SC11.xlsx'
file_path_SC12 = '/content/drive/MyDrive/ข้อมูลงานวันวิทย์/SC12.xlsx'
file_path_SC13 = '/content/drive/MyDrive/ข้อมูลงานวันวิทย์/SC13..xlsx'
# Read the Excel file into a pandas DataFrame, skipping the first row
SC01 = pd.read_excel(file_path_SC01, skiprows=1)
SC02 = pd.read_excel(file_path_SC02, skiprows=1)
SC03 = pd.read_excel(file_path_SC03, skiprows=1)
SC04 = pd.read_excel(file_path_SC04, skiprows=1)
SC05 = pd.read_excel(file_path_SC05, skiprows=1)
SC06 = pd.read_excel(file_path_SC06, skiprows=1)
SC07 = pd.read_excel(file_path_SC07, skiprows=1)
SC08 = pd.read_excel(file_path_SC08, skiprows=1)
SC09 = pd.read_excel(file_path_SC09, skiprows=1)
SC10 = pd.read_excel(file_path_SC10, skiprows=1)
SC11 = pd.read_excel(file_path_SC11, skiprows=1)
SC12 = pd.read_excel(file_path_SC12, skiprows=1)
SC13 = pd.read_excel(file_path_SC13, skiprows=1)
# Now you can work with the DataFrame 'df'

In [266]:
# prompt: ช่วย concat ข้อมูล SC01 ถึง SC13
# Concatenate all DataFrames into one
combined_df = pd.concat([SC01, SC02, SC03, SC04, SC05, SC06, SC07, SC08, SC09, SC10, SC11, SC12, SC13], ignore_index=True)
# Now you have a single DataFrame with all the data
combined_df

,หมายเลขแบบสอบถาม,V1,V2,MV2,V3,V4,V5,V6_1,V6_2,V6_3,...,V10_3,V10_4,V10_5,V10_6,MV10,V11,MV12,MV13,Unnamed: 49,Unnamed: 50
0,1,1,1.0,NaN,2,4,5,0,0,0,...,1,0,0,0,NaN,2.0,NaN,NaN,NaN,NaN
1,2,1,2.0,NaN,1,2,3,0,0,0,...,1,0,0,0,NaN,2.0,NaN,สถานที่,NaN,NaN
2,3,1,1.0,NaN,1,4,5,1,0,0,...,0,1,1,0,NaN,1.0,NaN,NaN,NaN,NaN
3,4,1,1.0,NaN,2,4,5,0,0,0,...,1,1,0,0,NaN,2.0,NaN,NaN,NaN,NaN
4,5,1,1.0,NaN,1,4,4,0,0,0,...,0,0,0,0,NaN,1.0,สร้างแรงบันดาลใจและทักษะกระบวนการทางวิทยาศาสตร...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1509,3299,13,2.0,NaN,1,2,4,0,0,0,...,1,0,0,0,NaN,2.0,NaN,NaN,NaN,NaN
1510,3300,13,2.0,NaN,1,3,4,0,0,0,...,1,0,0,0,NaN,2.0,NaN,NaN,NaN,NaN
1511,3301,13,2.0,NaN,1,1,2,0,0,0,...,1,1,1,0,NaN,1.0,NaN,NaN,NaN,NaN
1512,3302,13,1.0,NaN,1,1,2,0,0,0,...,1,1,1,0,NaN,1.0,NaN,ไม่มี,NaN,NaN
1513,3303,13,2.0,NaN,1,1,2,1,0,0,...,1,1,1,0,NaN,1.0,มีความรู้มากขึน,NaN,NaN,NaN

In [267]:
# prompt: ในข้อมูล combined_df เอา 2 column สุดท้ายออก

# Drop the last two columns
combined_df = combined_df.iloc[:, :-2]

In [268]:
# prompt: ในข้อมูล combined_df ค่า NaN ใน column V2 เเก้เป็น 9
combined_df['V2'] = combined_df['V2'].fillna(9)
combined_df['V8_11'] = combined_df['V8_11'].fillna(9)
combined_df['V11'] = combined_df['V11'].fillna(99)

In [269]:
combined_df[combined_df['V8_1']==99]

Empty DataFrame
Columns: [หมายเลขแบบสอบถาม, V1, V2, MV2, V3, V4, V5, V6_1, V6_2, V6_3, V6_4, V6_5, V6_6, V6_7, V6_8, V6_9, V6_10, V6_11, V6_12, V6_13, V6_14, MV6, V7, V8_1, V8_2, V8_3, V8_4, V8_5, V8_6, V8_7, V8_8, V8_9, V8_10, V8_11, V8_12, V8_13, V8_14, V9_1, V9_2, V10_1, V10_2, V10_3, V10_4, V10_5, V10_6, MV10, V11, MV12, MV13]
Index: []

[0 rows x 49 columns]

In [270]:
# prompt: ช่วยเเก้ค่า 9 เป็น 99 ใน combined_df ยกเว้นcolumn V9_1 ,V9_2

# Replace 9 with 99 in all columns except 'V9_1' and 'V9_2'
for col in combined_df.columns:
  if col not in ['หมายเลขแบบสอบถาม','V9_1', 'V9_2','V1']:
    combined_df[col] = combined_df[col].replace(9, 99)

In [271]:
combined_df.describe().reset_index().to_csv('combined_df_describe.csv', index=False)

In [305]:
combined_df.to_excel('ข้อมูลงานวันวิทย์รวมทุกโครงการ.xlsx', index=False)

In [272]:
combined_df.isna().any()

หมายเลขแบบสอบถาม    False
V1                  False
V2                  False
MV2                  True
V3                  False
V4                  False
V5                  False
V6_1                False
V6_2                False
V6_3                False
V6_4                False
V6_5                False
V6_6                False
V6_7                False
V6_8                False
V6_9                False
V6_10               False
V6_11               False
V6_12               False
V6_13               False
V6_14               False
MV6                  True
V7                  False
V8_1                False
V8_2                False
V8_3                False
V8_4                False
V8_5                False
V8_6                False
V8_7                False
V8_8                False
V8_9                False
V8_10               False
V8_11               False
V8_12               False
V8_13               False
V8_14               False
V9_1                False
V9_2                False
V10_1               False
V10_2               False
V10_3               False
V10_4               False
V10_5               False
V10_6               False
MV10                 True
V11                 False
MV12                 True
MV13                 True
dtype: bool

In [273]:
# prompt: ในข้อมูลcombined_df ให้เปลี่ยนข้อมูลใน V7 จาก 99 เป็น 1

combined_df['V7'] = combined_df['V7'].replace(99, 1)

In [304]:
combined_df[combined_df['V7']==99]

Empty DataFrame
Columns: [หมายเลขแบบสอบถาม, V1, V2, MV2, V3, V4, V5, V6_1, V6_2, V6_3, V6_4, V6_5, V6_6, V6_7, V6_8, V6_9, V6_10, V6_11, V6_12, V6_13, V6_14, MV6, V7, V8_1, V8_2, V8_3, V8_4, V8_5, V8_6, V8_7, V8_8, V8_9, V8_10, V8_11, V8_12, V8_13, V8_14, V9_1, V9_2, V10_1, V10_2, V10_3, V10_4, V10_5, V10_6, MV10, V11, MV12, MV13]
Index: []

[0 rows x 49 columns]

In [274]:
# prompt: ในเเต่ละcolumn ให้นับจำนวนค่า "99"

# Count the number of 99 in each column
count_99 = (combined_df == 99).sum()

# Display the result
print(count_99)

หมายเลขแบบสอบถาม      1
V1                    0
V2                    6
MV2                   0
V3                    2
V4                    1
V5                    3
V6_1                  0
V6_2                  0
V6_3                  0
V6_4                  0
V6_5                  0
V6_6                  0
V6_7                  0
V6_8                  0
V6_9                  0
V6_10                 0
V6_11                 0
V6_12                 0
V6_13                 0
V6_14                 0
MV6                   0
V7                    0
V8_1                 24
V8_2                 30
V8_3                 26
V8_4                 28
V8_5                 26
V8_6                 28
V8_7                 26
V8_8                 27
V8_9                 32
V8_10                29
V8_11                29
V8_12                31
V8_13                23
V8_14                24
V9_1                 86
V9_2                107
V10_1                14
V10_2                14
V10_3                14
V10_4                14
V10_5                14
V10_6                14
MV10                  0
V11                  64
MV12                  0
MV13                  0
dtype: int64

In [275]:
# prompt: ในข้อมูล combined_df ให้ลบ rowที่มีค่า 99 ในcolumn V2 ,V3 ,V4 ,V5 ,V10_1 ,V10_2 ,V10_3 ,V10_4 ,V10_5 ,V10_6 ,V11

# Create a boolean mask to identify rows with 99 in the specified columns
mask = (combined_df['V2'] == 99) | (combined_df['V3'] == 99) | (combined_df['V4'] == 99) | \
        (combined_df['V5'] == 99) | (combined_df['V10_1'] == 99) | (combined_df['V10_2'] == 99) | \
        (combined_df['V10_3'] == 99) | (combined_df['V10_4'] == 99) | (combined_df['V10_5'] == 99) | \
        (combined_df['V10_6'] == 99) | (combined_df['V11'] == 99)

# Invert the mask to keep rows that do NOT have 99 in the specified columns
combined_df = combined_df[~mask]

In [276]:
grouped_counts = combined_df.groupby('V1').size()

# Display the result
print(grouped_counts)

V1
1     113
2     103
3     121
4     181
5      47
6      45
7      40
8     311
9      17
10     84
11     31
12    237
13    109
dtype: int64

In [302]:
# prompt: ในข้อมูล combined_df ให้เเสดงrowที่มีค่า 99 เฉพาะcolumn V8_1,V8_2,...,V8_14 เเละ V9_1 ,V9_2 ส่วนrowที่มีค่า 99 เเต่ไม่ได้อยู่ในcolumnที่กล่าวมาให้เอาออกโดยที่ V1 =1

# Select rows with 99 in specified columns
filtered_df = combined_df[
    (combined_df[['V8_1', 'V8_2', 'V8_3', 'V8_4', 'V8_5', 'V8_6', 'V8_7', 'V8_8', 'V8_9', 'V8_10', 'V8_11', 'V8_12', 'V8_13', 'V8_14'] ] == 99).any(axis=1)
]

# Filter out rows with 99 in other columns and V1 = 1
filtered_df = filtered_df[
    (filtered_df['V1'] == 13)
]

# Display the result
filtered_df

Empty DataFrame
Columns: [หมายเลขแบบสอบถาม, V1, V2, MV2, V3, V4, V5, V6_1, V6_2, V6_3, V6_4, V6_5, V6_6, V6_7, V6_8, V6_9, V6_10, V6_11, V6_12, V6_13, V6_14, MV6, V7, V8_1, V8_2, V8_3, V8_4, V8_5, V8_6, V8_7, V8_8, V8_9, V8_10, V8_11, V8_12, V8_13, V8_14, V9_1, V9_2, V10_1, V10_2, V10_3, V10_4, V10_5, V10_6, MV10, V11, MV12, MV13]
Index: []

[0 rows x 49 columns]

In [303]:
# prompt: ในข้อมูล combined_df ให้เเสดงrowที่มีค่า 99 เฉพาะcolumn V8_1,V8_2,...,V8_14 เเละ V9_1 ,V9_2 ส่วนrowที่มีค่า 99 เเต่ไม่ได้อยู่ในcolumnที่กล่าวมาให้เอาออกโดยที่ V1 =1

# Select rows with 99 in specified columns
filtered_df = combined_df[
    (combined_df[['V9_1', 'V9_2']] == 99).any(axis=1)
]

# Filter out rows with 99 in other columns and V1 = 1
filtered_df = filtered_df[
    (filtered_df['V1'] == 13)
]
filtered_df
# Display the result
# filtered_df.to_csv('filtered_df.csv', index=False)

Empty DataFrame
Columns: [หมายเลขแบบสอบถาม, V1, V2, MV2, V3, V4, V5, V6_1, V6_2, V6_3, V6_4, V6_5, V6_6, V6_7, V6_8, V6_9, V6_10, V6_11, V6_12, V6_13, V6_14, MV6, V7, V8_1, V8_2, V8_3, V8_4, V8_5, V8_6, V8_7, V8_8, V8_9, V8_10, V8_11, V8_12, V8_13, V8_14, V9_1, V9_2, V10_1, V10_2, V10_3, V10_4, V10_5, V10_6, MV10, V11, MV12, MV13]
Index: []

[0 rows x 49 columns]

In [279]:
# # prompt: ในข้อมูล combined_df ให้ลบ row ที่มีค่า 99ออกยกเว้น column เเรก

# # Create a boolean mask to identify rows with 99 in any column except the first
# mask = (combined_df.iloc[:, 1:] == 99).any(axis=1)

# # Invert the mask to keep rows without 99 in any column except the first
# combined_df = combined_df[~mask]

In [280]:
# # prompt: ให้ใช้ข้อมูล combined_df โดยนับจำนวนที่จะจัดกลุ่มตาม V1

# # Group by 'V1' and count the occurrences
# grouped_counts = combined_df.groupby('V1').size()

# # Display the result
# print(grouped_counts)